{% load static tailwind_tags %}
<!DOCTYPE html>

<html lang="en" class="h-full bg-gray-50">
    <head>
        <meta charset="UTF-8">
        <title>My Blog</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        {% tailwind_css %}
</head>
    <body class="h-full">
    <div class="container">
        <div class="row">
            <div class="col-md-12 header">
                <h1 class="text-5xl text-green-600 text-center">Expense Tracker App</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>

    
    </body>
</html>